<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Project 4</title>
    </head>

    <body>

        <header>
            <div class="">
                <h1>Evaluate a news article with Natural Language Processing</h1>
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form">
                    <input id="text" type="text" name="name" value="" minlength="3" placeholder="Enter your text.">
                    <button id="generate" type="submit" name="" value="submit">Submit</button>
                 </form>
            </section>

            <section>
                <div id="answers" class="answers"><h2><b>Form Results:</b></h2></div>
                <div id="results">
                    <br>
                    <p><u>Irony:</u></p><div id="1"></div>
                    <br>
                    <p><u>subjectivity:</u></p><div id="2"></div>
                    <br>
                    <p><u>confidence:</u></p><div id="3"></div>
                    <div id="error"></div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <p>Nimhe for &copy Udacity 2022</p>
          </footer>

    </body>
</html>
